html {
	width: 100svw;
	height: 100svh;
}
body {
	width: 100svw;
}
#mainWrapper {
	width:  100svw;
	height: 100svh;
	visibility: hidden;
}

/*
iOS用に一番最初に表示する画面のcss
center_uiはもともと中央揃えのコードを実装する予定だったが
何故かiOSだと上手く動作しなかったためpermission_uiで中央揃えを
行っている
*/
.permission_ui {
	width: 100svw;
	height: 100svh;

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background-color: rgba(178, 178, 178, 0.3);

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	visibility: visible;
	margin: 0;
	padding: 0;
}


.center_ui {
	opacity: 1.0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 24px;
  font-weight: 900;
  color: black;
}


/*
消したい奴にこれを追加すると消える
*/
.deleted_ui {
	display: none;
}

#b1 {
	font-size: 13px;
	width: 98%;
	font-weight: bold;
	line-height: 16px;
	position: absolute;
	left: 20px;
	bottom: 20px;
	right: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	visibility: visible;
}

#main {
	visibility: visible;
}

#SideUIWrapper{
	position: absolute;
	width: 230px;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
}

#UIVisibilityButton {
	left: 0;
	top: 15px;
	width: 30px;
	height: 30px;
	position: relative;
	float: right;
	opacity: 0.5;
	font-size: 15px;
}

#SideUI {
	position: relative;
	height: 100%;
	width: 200px;
	background-color: rgba(178, 178, 178, 0.5);
	float: left;
}

.next {
	display: flex;
}


#shutter {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 10%;
	opacity: 0.6;
}

@media screen and (orientation:landscape) {
	ul, li, p {
		margin-top: 0;
		margin-bottom: 2px;
	},
	h3 {
		margin-top: 4px;
		margin-bottom: 4px;
	},
	#shutter {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		right: 10%;
	}
}

